body{
  background-color: grey;
}
section {
  font-family: sans-serif;
  height: 200px;
  width: 200px;
  border: 2px dotted black;
}
section:nth-of-type(1) {
  background-color: black;
}
section:nth-of-type(2) {
  background-color: green;
}
section:nth-of-type(4) {
	background-color: magenta;
}
